/*INICIO CONTEUDO PROJETOS*/
.borda{
    border-bottom: 1px solid #CCCCCC;
    padding-top: 15px;
}

#projeto p {
    color: #666666;
    font-family: arial;
    font-size: 13px;
}

/* titulo do projeto */
#projeto h4 {
    font-size:20px;
    color: #666666;
    font-weight:bold;
}

/* LISTA DE PARTICIPANTES */
#projeto .participantes{
    float:left;
    font-size:14px;
    font-style:italic;
    width:735px;
    padding:5px;
    background:#fffff4;

}

/* LISTA DE EX-INTEGRANTES */
#projeto .ex-integrantes{
    display: block;
    float: left;
    font-size: 14px;
    font-style: italic;
    margin-top: 6px;
    width:735px;
    padding:5px;
    background:#fffff4;
}

/*FIM CONTEUDO PROJETOS*/